@import "tailwindcss";

/* Reset only specific elements, not all elements */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  max-width: 1200px !important;
  margin: 0 auto;
}
/* Remove default link styling */
a {
  text-decoration: none;
}

/* Remove default button styling */
button {

  cursor: pointer;
}

/* Remove default list styling */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


